.profile-view {
	.profile-user-photo{
		margin-right: 10px;
	}
	.area-input {
		background-color: #fff;
	}
	.profile-select {
		font-size: 14px!important;
	}
	md-select .md-select-value.md-select-placeholder {
		color: rgba(0,0,0,0.87);
	}
}