@if $isMobile {
    @debug "$isMobile is #{$isMobile}";
    $roboto-font-path: '../../www/css/fonts';
}   
@else {
     $roboto-font-path: '/css/fonts';
}

@font-face {
    font-family: 'Roboto-CondensedRegular';
    src: url(#{$roboto-font-path}/robotocondensed-regular-webfont.eot);
    src: url(#{$roboto-font-path}/robotocondensed-regular-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/robotocondensed-regular-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/robotocondensed-regular-webfont.woff) format('woff'), url(#{$roboto-font-path}/robotocondensed-regular-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/robotocondensed-regular-webfont.svg#roboto_condensedregular) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-CondensedLightItalic';
    src: url(#{$roboto-font-path}/robotocondensed-lightitalic-webfont.eot);
    src: url(#{$roboto-font-path}/robotocondensed-lightitalic-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/robotocondensed-lightitalic-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/robotocondensed-lightitalic-webfont.woff) format('woff'), url(#{$roboto-font-path}/robotocondensed-lightitalic-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-CondensedBoldItalic';
    src: url(#{$roboto-font-path}/robotocondensed-bolditalic-webfont.eot);
    src: url(#{$roboto-font-path}/robotocondensed-bolditalic-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/robotocondensed-bolditalic-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/robotocondensed-bolditalic-webfont.woff) format('woff'), url(#{$roboto-font-path}/robotocondensed-bolditalic-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-CondensedLight';
    src: url(#{$roboto-font-path}/robotocondensed-light-webfont.eot);
    src: url(#{$roboto-font-path}/robotocondensed-light-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/robotocondensed-light-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/robotocondensed-light-webfont.woff) format('woff'), url(#{$roboto-font-path}/robotocondensed-light-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/robotocondensed-light-webfont.svg#roboto_condensedlight) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-CondensedBold';
    src: url(#{$roboto-font-path}/robotocondensed-bold-webfont.eot);
    src: url(#{$roboto-font-path}/robotocondensed-bold-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/robotocondensed-bold-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/robotocondensed-bold-webfont.woff) format('woff'), url(#{$roboto-font-path}/robotocondensed-bold-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/robotocondensed-bold-webfont.svg#roboto_condensedbold) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-CondensedItalic';
    src: url(#{$roboto-font-path}/robotocondensed-italic-webfont.eot);
    src: url(#{$roboto-font-path}/robotocondensed-italic-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/robotocondensed-italic-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/robotocondensed-italic-webfont.woff) format('woff'), url(#{$roboto-font-path}/robotocondensed-italic-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/robotocondensed-italic-webfont.svg#roboto_condenseditalic) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url(#{$roboto-font-path}/roboto-bolditalic-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-bolditalic-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-bolditalic-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-bolditalic-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-bolditalic-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-bolditalic-webfont.svg#robotobold_italic) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(#{$roboto-font-path}/roboto-medium-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-medium-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-medium-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-medium-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-medium-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-medium-webfont.svg#robotomedium) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url(#{$roboto-font-path}/roboto-blackitalic-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-blackitalic-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-blackitalic-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-blackitalic-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-blackitalic-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-blackitalic-webfont.svg#robotoblack_italic) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url(#{$roboto-font-path}/roboto-mediumitalic-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-mediumitalic-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-mediumitalic-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-mediumitalic-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-mediumitalic-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-mediumitalic-webfont.svg#robotomedium_italic) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-Black';
    src: url(#{$roboto-font-path}/roboto-black-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-black-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-black-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-black-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-black-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-black-webfont.svg#robotoblack) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(#{$roboto-font-path}/roboto-bold-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-bold-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-bold-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-bold-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-bold-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-bold-webfont.svg#robotobold) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(#{$roboto-font-path}/roboto-lightitalic-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-lightitalic-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-lightitalic-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-lightitalic-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-lightitalic-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-lightitalic-webfont.svg#robotolight_italic) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-RegularItalic';
    src: url(#{$roboto-font-path}/roboto-italic-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-italic-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-italic-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-italic-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-italic-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-italic-webfont.svg#robotoitalic) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url(#{$roboto-font-path}/roboto-thinitalic-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-thinitalic-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-thinitalic-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-thinitalic-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-thinitalic-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-thinitalic-webfont.svg#robotothin_italic) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-Light';
    src: url(#{$roboto-font-path}/roboto-light-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-light-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-light-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-light-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-light-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-light-webfont.svg#robotolight) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(#{$roboto-font-path}/roboto-regular-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-regular-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-regular-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-regular-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-regular-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-regular-webfont.svg#robotoregular) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(#{$roboto-font-path}/roboto-thin-webfont.eot);
    src: url(#{$roboto-font-path}/roboto-thin-webfont.eot?#iefix) format('embedded-opentype'), url(#{$roboto-font-path}/roboto-thin-webfont.woff2) format('woff2'), url(#{$roboto-font-path}/roboto-thin-webfont.woff) format('woff'), url(#{$roboto-font-path}/roboto-thin-webfont.ttf) format('truetype'), url(#{$roboto-font-path}/roboto-thin-webfont.svg#robotothin) format('svg');
    font-weight: 400;
    font-style: normal
}
