/*
COLORS
*/

$nav-bar-green: #3CA454;
$report-button-brown: #E96641;
$background-gray: #F1F3F3;

$pile-green: #69AC53;
$pile-yellow: #EFA74F;
$progress-yellow: #E4DC42;
$inactive-gray: #D1D1D2;
$text-gray: #111;

$position-blue: #1185C7;
$facebook-blue: #307FBD;


$ldr_green: #3ca454;
$button_green: #69ad54;
$ldr_yellow: #e4dc42;
$report_blue: #2196F3;

$pending_color: #FF9800;
$confirmed_color: #2196F3;
$unconfirmed_color: #E91E63;
$reported_color: #9C27B0;
$cleaned_color: #4CAF50;

$qualitance_orange: #F38047;

/*
	PILE SIZE COLORS
*/
$small-green: #69AD54;
$medium-yellow: #FEC110;
$big-orange: #F47621;
$huge-red: #E44D47;

/*
	PLATFORM FLAG
*/

$isMobile : true;