<md-dialog aria-label="Location Disabled">
    <md-content class="sticky-container padding0px">
        <md-subheader class="md-sticky-no-effect margin0px">{{'dialogs.location.text' | translate}}</md-subheader>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="switchToLocationSettings()" class="md-primary">
            {{'dialogs.location.button' | translate}}
        </md-button>
        <md-button ng-click="cancel()" class="md-primary">
            {{'buttons.close' | translate}}
        </md-button>
    </div>
</md-dialog>
