<div class="card">
    <div class="item item-text-wrap">
        <p>{{'views.pile.content.title' | translate}}</p>
        <div layout="column">
            <md-checkbox ng-model="contents.Plastic" aria-label="plastic">{{'views.pile.content.plastic' | translate}}
            </md-checkbox>
            <md-checkbox ng-model="contents.Aluminium" aria-label="aluminium">{{'views.pile.content.aluminium' |
                translate}}
            </md-checkbox>
            <md-checkbox ng-model="contents.Glass" aria-label="glass">{{'views.pile.content.glass' | translate}}
            </md-checkbox>
            <md-checkbox ng-model="contents.Paper" aria-label="paper">{{'views.pile.content.paper' | translate}}
            </md-checkbox>
            <md-checkbox ng-model="contents.HouseholdGarbage" aria-label="household garbage">
                {{'views.pile.content.householdgarbage' | translate}}
            </md-checkbox>
            <md-checkbox ng-model="contents.BuildingMaterials" aria-label="building materials">
                {{'views.pile.content.buildingmaterials' | translate}}
            </md-checkbox>
            <md-checkbox ng-model="contents.ElectronicWaste" aria-label="electronic waste">
                {{'views.pile.content.electronicwaste' | translate}}
            </md-checkbox>
            <md-checkbox ng-model="contents.Batteries" aria-label="batteries">{{'views.pile.content.batteries' |
                translate}}
            </md-checkbox>
            <md-checkbox ng-model="contents.Textiles" aria-label="textiles">{{'views.pile.content.textiles' |
                translate}}
            </md-checkbox>
            <md-checkbox ng-model="contents.Other" aria-label="other">{{'views.pile.content.other' | translate}}
            </md-checkbox>
        </div>
    </div>
</div>
