<div class="card">
    <div class="item item-text-wrap">
        <p ng-if="editable">{{'views.pile.size.title1' | translate}}</p>
        <p ng-if="!editable">{{'views.pile.size.title2' | translate}}</p>
        <p>{{'views.pile.step2.text' | translate}}</p>
        <md-content>
            <div layout="row" layout-align="space-around center">
                <div layout="column" layout-align="center center">
                    <md-icon class="pile-size-icon" md-svg-icon="img/icons/icon_bag.svg" ng-click="setSize(1)"
                             ng-class="{'pile-size-small': size<=2, 'pile-size-medium': size==3, 'pile-size-big': size==4, 'pile-size-huge': size==5}"></md-icon>
                    <span class="pile-size-text">3x90L</span>
                </div>
                <div layout="column" layout-align="center center">
                    <md-icon class="pile-size-icon" md-svg-icon="img/icons/icon_bag.svg" ng-click="setSize(2)"
                             ng-class="{'pile-size-small': size==2, 'pile-size-medium': size==3, 'pile-size-big': size==4, 'pile-size-huge': size==5}"></md-icon>
                    <span class="pile-size-text">10x90L</span>
                </div>
                <div layout="column" layout-align="center center">
                    <md-icon class="pile-size-icon" md-svg-icon="img/icons/icon_bag.svg" ng-click="setSize(3)"
                             ng-class="{'pile-size-medium': size==3, 'pile-size-big': size==4, 'pile-size-huge': size==5}"></md-icon>
                    <span class="pile-size-text">25x90L</span>
                </div>
                <div layout="column" layout-align="center center">
                    <md-icon class="pile-size-icon" md-svg-icon="img/icons/icon_bag.svg" ng-click="setSize(4)"
                             ng-class="{'pile-size-big': size==4, 'pile-size-huge': size==5}"></md-icon>
                    <span class="pile-size-text">50x90L</span>
                </div>
                <div layout="column" layout-align="center center">
                    <md-icon class="pile-size-icon" md-svg-icon="img/icons/icon_bag.svg" ng-click="setSize(5)"
                             ng-class="{'pile-size-huge': size>=5}"></md-icon>
                    <span class="pile-size-text">>75x90L</span>
                </div>
            </div>
        </md-content>
    </div>
</div>