<ion-view title="{{'views.pile.stepTitle' | translate}}2" can-swipe-back="false">
    <ion-nav-buttons side="left">
        <button ng-click="goBack()"
                ng-click-options="{preventDoubleClick: true}"
                class="button button-icon icon">
            <md-icon md-svg-icon="img/icons/arrow_back.svg">
            </md-icon>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="goToStep3()"
                ng-click-options="{preventDoubleClick: true}"
                class="button button-icon icon">
            <md-icon md-svg-icon="img/icons/arrow_forward.svg">
            </md-icon>
        </button>
    </ion-nav-buttons>
    <div class="pile-report-step-container" md-swipe-right="onSwipeRight()" md-swipe-left="onSwipeLeft()">
        <pile-size-card size="pile.size" title="{{'views.pile.step2.selectSizeTitle' | translate}}"
                        editable="1"></pile-size-card>

        <pile-contents contents="pile.contents"></pile-contents>
        <pile-areas areas="pile.areas"></pile-areas>
    </div>
</ion-view>
